# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="xzv/yDBq6GRI3G+WMtkW96gZwUlH287/cqVzjW2drT0="
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# GitHub OAuth (opcional - necesitas crear una app en GitHub)
# GITHUB_ID="tu-github-client-id"
# GITHUB_SECRET="tu-github-client-secret"
